.stash-tabs__get-form-wrapper {
    padding: 1rem;
}

.stash-tabs__tab-form-wrapper {
    padding: 1rem;
    margin-top: 2rem;
}

.stash-tabs_item-card {
    max-width: 400px;
}

.stash-tabs_item-card-content {
    padding: 1rem;
    text-align: center;
}

.stash-tabs_item-card-clean-margin {
    margin: 0px;
}

.stash-tabs__item-card-icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
}